/* ==============================
        1. Globals
============================== */
:root {
    /* Design colors */
    --corporate-yellow-400: #FADA76;
    --corporate-yellow-500: #F8C84A;
    --corporate-yellow-600: #FFC423;
    --corporate-dark-gray-400: #77858D;
    --corporate-dark-gray-500: #343C42;
    --corporate-dark-gray-600: #262F38;

    /* Secondary colors */
    --light-gray: #E3E4E5;
    --dark-gray: #A2A7AD;
    --red: #FF0000;
    --green: #27B245;
    --white: #FFFFFF;

    /* Background */
    --primary-bg-color: #FBFBFB;

    /* Font family */
    --primary-font-family: 'Nunito', sans-serif;
    --secondary-font-family: 'AvantGarde', sans-serif;

    /* Font size - Heading */
    --fs-h1: 60px;
    --fs-h2: 36px;
    --fs-h3: 24px;

    /* Line height - Heading */
    --lh-h1: 72px;
    --lh-h2: 44px;
    --lh-h3: 32px;

    /* Font size - Basic */
    --fs-b1: 14px;
    --fs-b2: 16px;
    --fs-b3: 18px;

    /* Line height - Basic */
    --lh-b1: 20px;
    --lh-b2: 24px;
    --lh-b3: 28px;

    /* Font weight */
    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-medium: 500;
    --fw-regular: 400;

    /* Border radius */
    --br-2: 2px;
    --br-4: 4px;
    --br-6: 6px;
    --br-8: 8px;
    --br-12: 12px;
    --br-16: 16px;
    --br-20: 20px;

    /* Box shadow */
    --box-shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
    --box-shadow-md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    --box-shadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    --box-shadow-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);

    /* Gradients */
    --gradient-dark: linear-gradient(90.02deg, rgba(58, 62, 67, 0.95) 38.55%, rgba(58, 62, 67, 0.5) 67.26%, rgba(58, 62, 67, 0.1) 95.42%);
    --gradient-white: linear-gradient(269.71deg, rgba(255, 255, 255, 0.1) 0.29%, #FFFFFF 87.01%);
    --gradient-yellow: linear-gradient(18.86deg, #FBCD40 8.25%, rgba(217, 217, 217, 0) 78.84%);
}

/* ==============================
        2. Basics
============================== */

html {
    scrollbar-color: var(--corporate-yellow-500) var(--corporate-dark-gray-500);
    scrollbar-width: thin;
}

body {
    font-family: var(--primary-font-family);
    font-size: var(--fs-b1);
    font-weight: var(--fw-regular);
    line-height: var(--lh-b1);
    color: var(--corporate-dark-gray-500);
    background-color: var(--primary-bg-color);
    padding-top: 80px;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
}

h2 {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
}

h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


/* Selection */

::selection {
    background: var(--corporate-yellow-500);
    color: var(--corporate-dark-gray-500);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--corporate-yellow-500);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: var(--corporate-dark-gray-500);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.btn-general {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    font-family: var(--primary-font-family);
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    font-weight: var(--fw-semi-bold);
    color: var(--corporate-dark-gray-500);
    background-color: var(--primary-bg-color);
    padding: 12px 20px;
    border: 1px solid var(--corporate-dark-gray-500);
    height: 44px;
    border-radius: var(--br-8);
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.btn-general>span {
    white-space: nowrap;
}

.btn-general>*:not(:last-child) {
    margin-right: 8px;
}

.btn-general svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.btn-general svg path {
    transition: all 250ms ease-in-out;
    fill: var(--corporate-dark-gray-500);
}

.btn-general:hover {
    background-color: var(--corporate-dark-gray-500);
    color: var(--white);
}

.btn-general:hover svg path {
    fill: var(--white);
}

.btn-general.primary {
    background-color: var(--corporate-dark-gray-500);
    color: var(--white);
}

.btn-general.primary.btn-wp svg path, .btn-general.primary.btn-wp:hover svg path {
    fill: var(--green);
}

.btn-general.primary:hover {
    border-color: var(--corporate-dark-gray-600);
    background-color: var(--corporate-dark-gray-600);
}

.btn-general.primary:hover svg path {
    fill: var(--corporate-dark-gray-600);
}

.btn-general.secondary {
    background-color: var(--corporate-yellow-500);
    border-color: var(--corporate-yellow-500);
    color: var(--corporate-dark-gray-500);
}

.btn-general.secondary svg path {
    fill: var(--corporate-dark-gray-500);
}

.btn-general.secondary:hover {
    background-color: var(--corporate-yellow-600);
    border-color: var(--corporate-yellow-600);
}

.btn-general.primary:hover svg path {
    fill: var(--corporate-yellow-600);
}

.btn-general.large {
    height: 60px;
    min-width: 146px;
    padding: 16px 28px;
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
}

.btn-general.large svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.fa-whatsapp {
    color: var(--green);
}

.fa-youtube {
    color: var(--red);
}

.content-box-lg {
    padding-top: 78px;
    padding-bottom: 78px;
}

.content-box-md {
    padding-top: 56px;
    padding-bottom: 56px;
}

.content-box-sm {
    padding-top: 26px;
    padding-bottom: 26px;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    position: relative;
}

.section-header::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 3px;
    background: var(--corporate-yellow-500);
    width: 96px;
    border-radius: var(--br-2);
}

.section-header .section-title {
    font-weight: var(--fw-bold);
    margin-bottom: 12px;
}

.section-header .section-subtitle {
    font-weight: var(--fw-medium);
    margin-bottom: 10px;
}

.section-header p {
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
}

.section-header .btn-general {
    margin-top: 42px;
}

.section-header.secondary .section-title {
    color: var(--corporate-yellow-500);
    margin-bottom: 0;
}

.section-header.secondary .section-subtitle {
    color: var(--white);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay.dark {
    background: var(--gradient-dark);
}

.overlay.yellow {
    background: var(--gradient-yellow);
    z-index: 11;
}

.overlay.white {
    background: var(--gradient-white);
}

.lazyload, .lazyload1 {
    object-fit: contain !important;
}

.swiper-lazy-preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background-image: url('../images/prelader.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--white);
    border: none;
    border-radius: 0;
    animation: none !important;
}

.brandsSwiper .swiper-lazy-preloader {
    background-image: url('../images/prelader-secondary.svg');
    background-color: var(--corporate-yellow-500);
}

.subServicesSwiper .swiper-lazy-preloader {
    background-color: var(--corporate-dark-gray-500);
}

.serviceCenterSwiper .swiper-lazy-preloader {
    background-size: 50%;
}

.swiper-button-prev, .swiper-button-next {
    width: 20px;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 30px;
    color: var(--dark-gray);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    background-color: var(--corporate-dark-gray-500);
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 78px;
}

.page-header .page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    padding-bottom: 10px;
    max-width: 850px;
    margin: 0 auto;
}

.page-header .page-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 80px;
    background-color: var(--corporate-yellow-500);
    border-radius: var(--br-2);
    transform: translateX(-50%);
}

.page-header p {
    margin: 10px auto 0;
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    color: #727272;
    max-width: 850px;
}

.page-header>a {
    margin-top: 24px;
}

.breadcrumbs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumbs a {
    color: var(--corporate-dark-gray-500);
    flex-shrink: 0;
    transition: all 250ms ease-in-out;
}

.breadcrumbs a:hover {
    color: var(--corporate-yellow-500);

}

.breadcrumbs svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin: 0 8px;
}

.breadcrumbs svg path {
    stroke: var(--corporate-yellow-500);
}

.inner-section-header {
    position: relative;
    margin-bottom: 42px;
    padding-bottom: 6px;
    color: var(--corporate-dark-gray-500);
}

.inner-section-header:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    height: 4px;
    width: 62px;
    background: var(--corporate-yellow-500);
    border-radius: var(--br-2);
}

.inner-section-header .section-title {
    font-weight: var(--fw-bold);
}

.content {
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
}

.content li {
    list-style-type: unset;
}

.content dl, .content ol, .content ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.content ol, .content ul {
    padding-left: 2rem;
}

.content p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.content img {
    max-width: 100%;
    height: auto !important;
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
}

.preloader img {
    width: 180px;
}

/* Scroll top button */
#btn-scroll-top {
    position: fixed;
    bottom: 80px;
    right: 25px;
    padding: 10px;
    background: var(--corporate-yellow-500);
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    border-radius: var(--br-4);
    box-shadow: var(--box-shadow-lg);
    cursor: pointer;
    border: none;
    display: none;
    z-index: 9;
}

#btn-scroll-top>svg {
    display: block;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

#btn-scroll-top>svg path {
    fill: var(--corporate-dark-gray-500);
}

#btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background: #25D366;
    border-radius: 50%;
    z-index: 9;
    animation: pulse-sm 1.2s infinite;
}

#btn-whatsapp>svg {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

#btn-whatsapp>svg path {
    fill: var(--white);
}

@keyframes pulse-sm {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(75, 181, 67, 0.75);
        box-shadow: 0 0 0 0 rgba(75, 181, 67, 0.75);
    }

    80% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
        box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
        box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
    }
}

/* Pagination */
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 64px;
}

.pagination .page-item {
    margin: 2px 4px;
}

.pagination .page-item.active .page-link {
    background-color: var(--corporate-yellow-500);
    border-color: var(--corporate-yellow-500);
    color: var(--corporate-dark-gray-500);
}

.pagination .page-item:hover:not(.disabled):not(.active) .page-link {
    background-color: var(--corporate-yellow-500);
    border-color: var(--corporate-yellow-500);
    color: var(--corporate-dark-gray-500);
}

.pagination .page-item.disabled .page-link {
    opacity: 0.6;
    background-color: var(--white);
    color: var(--corporate-dark-gray-500);
}

.pagination .page-item .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
    padding: 6px;
    color: var(--corporate-dark-gray-500);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    border-color: var(--light-gray);
    background-color: var(--white);
    outline: none;
    box-shadow: none;
}

.pagination .page-item .page-link,
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: var(--br-8);
}

.pagination .page-item:first-child:not(.disabled):not(.active):hover .page-link,
.pagination .page-item:last-child:not(.disabled):not(.active):hover .page-link {
    background-color: var(--corporate-dark-gray-500);
    border-color: var(--corporate-dark-gray-500);
    color: var(--white);
}


/* ==============================
        Header
============================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: var(--primary-bg-color);
    transition: all 250ms ease-in-out;
    border-bottom: 1px solid var(--light-gray);
}

.header.fixed {
    box-shadow: var(--box-shadow-md);
    border-color: transparent;
}

.header-content {
    padding: 12px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    height: 56px;
    width: auto;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu>*:not(:last-child) {
    margin-right: 32px;
}

.header-menu .menu-list {
    display: flex;
    align-items: center;
}

.header-menu .menu-list li {
    display: flex;
    align-items: center;
}

.header-menu .menu-list li:not(:last-child) {
    margin-right: 32px;
}

.header-menu .menu-list li a {
    position: relative;
    display: flex;
    align-items: center;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    font-weight: var(--fw-semi-bold);
    color: var(--corporate-dark-gray-500);
    transition: all 250ms ease-in-out;
}

.header-menu .menu-list li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--corporate-yellow-500);
    border-radius: var(--br-2);
    transition: all 250ms ease-in-out;
}

.header-menu .menu-list li a:has(>svg):before {
    left: 35px;
}

.header-menu .menu-list li a:hover:before {
    width: 100%;
}

.header-menu .menu-list li a:has(>svg):hover:before {
    width: calc(100% - 35px);
}

.header-menu .menu-list li svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
    margin-right: 8px;
}

.header-menu .menu-list li a:hover {
    color: var(--corporate-yellow-500);
}

.lang-list {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.lang-list li button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-b2);
    line-height: var(--fs-b2);
    color: var(--corporate-dark-gray-500);
    text-transform: uppercase;
    padding: 0;
    border: none;
    background: none;
}

.lang-list li button svg {
    margin-left: 2px;
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
}

.lang-list li button svg path {
    stroke: var(--corporate-dark-gray-500);
}

.lang-list li button span, .lang-list li button svg, .lang-list li button svg path, .lang-list li a, .lang-list .lang-dropdown {
    transition: all 250ms ease-in-out;
}

.lang-list li button:hover,
.lang-list li a:hover {
    color: var(--corporate-yellow-500);
}

.lang-list li button:hover svg path {
    stroke: var(--corporate-yellow-500);
}

.lang-list button.active svg {
    transform: rotate(180deg);
}

.lang-list .lang-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 16px;
    width: 60px;
    flex-direction: column;
    background: var(--primary-bg-color);
    box-shadow: var(--box-shadow-md);
    opacity: 0;
    padding: 2px 0;
    visibility: hidden;
    border-radius: var(--br-2);
    z-index: 9;
    transform: translateX(-50%);
}

.lang-list .lang-dropdown.active {
    margin-top: 6px;
    opacity: 1;
    visibility: visible;
}

.lang-list .lang-dropdown li {
    display: flex;
    justify-content: center;
}

.lang-list .lang-dropdown li:not(:last-child) {
    border-bottom: 1px solid var(--light-gray);
}

.lang-list .lang-dropdown a {
    flex-grow: 1;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    padding: 2px;
    color: var(--corporate-dark-gray-500);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    text-align: center;
}

/* Mobile Header */

.mobile-menu-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background: var(--primary-bg-color);
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
}

.mobile-menu-content.show {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.mobile-menu-header {
    padding: 12px 0;
    border-bottom: 1px solid var(--light-gray);
}

.mobile-menu-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-header-logo img {
    height: 56px;
    width: auto;

}

.mobile-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    padding: 24px 0;
}

.mobile-menu .mobile-menu-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu .mobile-menu-list li:not(:last-child) {
    margin-bottom: 12px;
}

.mobile-menu .mobile-menu-list li a {
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    font-weight: var(--fw-medium);
    color: var(--corporate-dark-gray-500);
    transition: all 250ms ease-in-out;
}

.mobile-menu .mobile-menu-list li svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
    margin-right: 6px;
}

.mobile-menu .mobile-menu-list li a:hover {
    color: var(--corporate-yellow-500);
}

.mobile-menu-footer {
    padding: 12px 0;
    border-top: 1px solid var(--light-gray);
}

.mobile-menu-footer .social-list li a {
    border-color: var(--corporate-dark-gray-500);
}

.mobile-menu-footer .social-list li a svg path {
    fill: var(--corporate-dark-gray-500);
}

.mobile-menu-footer .social-list li a:hover {
    background-color: var(--corporate-dark-gray-500);
    border-color: var(--corporate-dark-gray-500);
}

.mobile-menu-footer .social-list li a:hover svg path {
    fill: var(--white);
}

.btn-icon {
    border: none;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn-icon svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.btn-icon svg path {
    stroke: var(--corporate-dark-gray-500);
}

/* ================================
        Welcome
================================ */
.welcomeSwiper {
    padding-bottom: 20px;
}

.welcomeSwiper .swiper-pagination-progressbar {
    top: inherit;
    bottom: 0;
    border-radius: 2px;
    overflow: hidden;
    background: var(--light-gray);
}

.welcomeSwiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--corporate-yellow-500);
}

.welcomeSwiper .welcome-text {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.welcomeSwiper .welcome-text h1 {
    position: relative;
    font-weight: var(--fw-bold);
    margin-bottom: 12px;
}

.welcomeSwiper .welcome-text h1:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    height: 3px;
    width: 215px;
    background: var(--corporate-yellow-500);
}

.welcomeSwiper .welcome-text .btn-general {
    margin-top: 42px;
}

.welcomeSwiper .welcome-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeSwiper .welcome-img img {
    width: 100%;
    max-width: 650px;
    height: auto;
}

/* ==============================
        Services
============================== */

.services-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 76px;
}

.services-content .arrow-down {
    height: 52px;
    width: auto;
    margin-top: 32px;
}

.service-cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.service-card {
    position: relative;
    height: 436px;
    max-width: 372px;
    flex: 1;
    border-radius: var(--br-16);
    overflow: hidden;
}

.service-card:not(:last-child) {
    margin-right: 52px;
}

.service-card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 250ms ease-in-out;
}

.service-card:hover>img {
    transform: scale(1.2);
}

.service-card .service-icon {
    position: absolute;
    top: 42px;
    left: 42px;
    width: 100px;
    height: 100px;
}

.service-card .service-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.service-card .service-name {
    position: absolute;
    left: 42px;
    bottom: 18px;
    color: var(--white);
    max-width: 180px;
    text-transform: capitalize;
}

/* ==============================
        Services
============================== */

.detals {
    position: relative;
    background: url('../images/background/servis-section-cover.jpg') no-repeat center;
    background-position: center;
    position: relative;
}

.detals .container {
    position: relative;
    z-index: 1;
}

.detals-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.detals-content .section-header .section-subtitle {
    max-width: 334px;
}

.detals-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.detals-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* ==============================
        Brands
============================== */
.brands {
    padding: 16px 0;
    background: var(--corporate-yellow-500);
}

.brandsSwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 165px;
}

.brandsSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ==============================
        Products Home
============================== */
.products {
    position: relative;
}

.products .fake-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: var(--corporate-dark-gray-500);
}

.productsSwiper .swiper-slide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
}

.products-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.products-content-header a {
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    text-align: center;
    padding: 8px 24px;
    min-width: 240px;
    height: 42px;
    border-radius: var(--br-20);
    font-weight: var(--fw-semi-bold);
    color: var(--corporate-dark-gray-500);
    border: 1px solid var(--corporate-dark-gray-500);
    background: var(--white);
    transition: all 250ms ease-in-out;
}

.products-content-header span {
    display: flex;
    align-items: center;
    line-height: var(--lh-b2);
    font-size: var(--fs-b2);
    font-weight: var(--fw-semi-bold);
}

.products-content-header span svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
    margin-right: 8px;
}

.products-content-header span svg path {
    stroke: var(--corporate-dark-gray-500);
}

.products-content-header a:hover {
    background: var(--corporate-dark-gray-500);
    color: var(--white);
}

.products-content {
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
}

.product-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: var(--br-12);
    box-shadow: var(--box-shadow-xl);
    overflow: hidden;
    transition: all 200ms ease-in-out;
}

#home-page .product-card:hover {
    transform: translateY(-16px);
}

.product-card .product-card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: var(--white);
    overflow: hidden;
}

.product-card .product-card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card .product-card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px;
    background: var(--white);
}

.product-card .product-card-body .product-name {
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    font-weight: var(--fw-medium);
    flex-grow: 1;
    margin-bottom: 12px;
}

.product-card .product-card-body .product-price {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-weight: var(--fw-bold);
}

.product-card .product-card-body .btn-general {
    margin-top: 24px;
}

/* ==============================
        Avto service
============================== */
.avto-service {
    position: relative;
    background: url('../images/background/servis-section-cover.jpg') no-repeat center;
    background-size: cover;
}

.avto-service .container {
    position: relative;
    z-index: 1;
}

.avto-service-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.avto-service-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.avto-service-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* ==============================
        Avto service
============================== */

.sub-services {
    background: var(--corporate-dark-gray-500);
    border-top: 4px solid var(--corporate-yellow-500);
}

.sub-service-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    color: var(--white);
}

.sub-service-card img {
    width: 68px;
    height: 68px;
    object-fit: contain;
    margin-right: 20px;
}

/* ==============================
        Service center
============================== */
.service-center-header {
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.service-center-content {
    padding-left: 56px;
    padding-right: 56px;
}

.service-center-header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 3px;
    border-radius: var(--br-2);
    background-color: var(--corporate-yellow-500);
    transform: translateX(-50%);
}

.service-center-content {
    position: relative;
}

.service-center-card {
    display: block;
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: var(--br-16);
    outline: none;
}

.service-center-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all 250ms ease-in-out;
}

.service-center-card>span {
    position: absolute;
    bottom: 26px;
    left: 36px;
    color: var(--corporate-dark-gray-500);
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-weight: var(--fw-semi-bold);
    z-index: 12;
}

.service-center-card:hover img {
    transform: scale(1.3);
}

/* ==============================
        Header
============================== */
.footer {
    background: var(--corporate-dark-gray-500);
}

.footer-logo {
    display: block;
    margin-bottom: 24px;
}

.footer-logo img {
    height: 92px;
    width: auto;
}

.footer-block>div>span {
    display: block;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    margin-bottom: 20px;
}

.footer-block>div>p {
    color: var(--dark-gray);
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
}

.contact-block {
    display: flex;
    flex-direction: column;
}

.contact-block:not(:last-child) {
    margin-bottom: 34px;
}

.contact-block>span {
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    color: var(--corporate-yellow-500);
    margin-bottom: 10px;
}

.contact-block ul li:not(:last-child) {
    margin-bottom: 4px;
}

.contact-block ul li a {
    display: flex;
    color: var(--white);
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    transition: all 250ms ease-in-out;
}

.contact-block ul li a svg {
    margin-right: 12px;
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
    transition: all 250ms ease-in-out;
}

.contact-block ul li a svg path {
    stroke: var(--white);
}

.contact-block ul li a:hover {
    color: var(--corporate-yellow-500);
}

.contact-block ul li a:hover svg path {
    stroke: var(--corporate-yellow-500);
}

.contact-block iframe {
    width: 100%;
    height: 260px;
}

.footer-secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 20px;
    border-top: 2px solid var(--corporate-yellow-500);
}

.footer-secondary {
    color: var(--white);
    font-size: var(--fs-b1);
    line-height: var(--lh-b1);
}

.social-list {
    display: flex;
    align-items: center;
}

.social-list li:not(:last-child) {
    margin-right: 6px;
}

.social-list li a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid var(--corporate-yellow-500);
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.social-list li a svg {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.social-list li a svg path {
    fill: var(--corporate-yellow-500);
    transition: all 250ms ease-in-out;
}

.social-list li a:hover {
    background-color: white;
    border-color: var(--white);
}

.social-list li a:hover svg path {
    fill: var(--corporate-dark-gray-500);
}

/* ==============================
        About
============================== */
.about-content .about-text {
    padding-right: 100px;
}

.about-content .row:not(:last-child) {
    margin-bottom: 56px;
}

.about-content .row:nth-child(2n) {
    flex-direction: row-reverse;
}

.about-content .row:nth-child(2n) .about-text {
    padding-left: 100px;
    padding-right: 0;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: var(--br-8);
}

/* ==============================
        Blogs
============================== */
.blogs-content {
    max-width: 1140px;
    margin: 0 auto;
}

.blog-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--white);
    border-radius: var(--br-12);
    box-shadow: var(--box-shadow-xl);
    overflow: hidden;
    transition: all 200ms ease-in-out;
}

.blog-item-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.blog-item-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item:hover {
    transform: scale(1.05);
}

.blog-item-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 24px;
    color: var(--corporate-dark-gray-500);
}

.blog-item-body .blog-title {
    position: relative;
    margin-bottom: 16px;
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-weight: var(--fw-bold);
    color: var(--corporate-dark-gray-500);
    padding-bottom: 6px;
}

.blog-item-body .blog-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 3px;
    background-color: var(--corporate-yellow-500);
    border-radius: var(--br-2);
    transition: all 250ms ease-in-out;
}

.blog-item-body .blog-title:hover:after {
    width: 60%;
}

.blog-item-body .blog-desc {
    flex-grow: 1;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
}

.blog-item-labels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.blog-item-labels a {
    background-color: var(--light-gray);
    font-size: var(--fs-b1);
    line-height: var(--lh-b1);
    font-weight: var(--fw-semi-bold);
    padding: 2px 12px;
    border-radius: var(--br-4);
    color: var(--corporate-dark-gray-500);
    margin: 6px 6px 0 0;
    transition: all 250ms ease-in-out;
}

.blog-item-labels a:hover {
    background-color: var(--corporate-yellow-500);
    color: var(--corporate-dark-gray-500);
}

/* ==============================
        Blog single
============================== */
#blog .breadcrumbs {
    padding-bottom: 32px;
    border-bottom: 3px solid var(--corporate-yellow-500);
}

.blog-content {
    max-width: 850px;
    margin: 0 auto;
    padding-bottom: 0;
}

.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6 {
    position: relative;
    padding-bottom: 6px;
}

.blog-content h1:after, .blog-content h2:after, .blog-content h3:after, .blog-content h4:after, .blog-content h5:after, .blog-content h6:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    height: 4px;
    width: 62px;
    background: var(--corporate-yellow-500);
    border-radius: var(--br-2);
}

.blog-image {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.blog .blog-item-labels {
    margin-top: 16px;
}

.blog-video {
    width: 100%;
    height: 450px;
    border-radius: var(--br-8);
    overflow: hidden;
    margin-top: 72px;
}

.blog-video iframe {
    width: 100%;
    height: 100%;
}

.blogsSwiper .swiper-slide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
}

.blog-share {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-share .view-count {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.blog-share .view-count span {
    margin-left: 0;
    margin-bottom: 4px;
}

.blog-share ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-share ul li:not(:last-child) {
    margin-bottom: 12px;
}

.blog-share ul li a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--corporate-dark-gray-400);
    border-radius: 50%;
    transition: all 250ms ease-in-out;
    flex-shrink: 0;
}

.blog-share ul li a svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.blog-share ul li a svg path {
    transition: all 250ms ease-in-out;
    fill: var(--corporate-dark-gray-400);
}

.blog-share ul li a:hover {
    border-color: var(--corporate-dark-gray-500);
}


.blog-share ul li a:hover svg path {
    fill: var(--corporate-dark-gray-500);
}

/* ==============================
        Blog similar
============================== */

.similar-blogs .blog-item:hover {
    transform: none;
}

/* ==============================
        Products
============================== */
.products-search {
    width: 100%;
    max-width: 640px;
    margin: 40px auto 0;
}

.products-search .products-search-group {
    display: flex;
    border: 1px solid var(--dark-gray);
    border-radius: var(--br-20);
    overflow: hidden;
    height: 42px;
}

.products-search .products-search-group input {
    border: none;
    outline: none;
    box-shadow: none;
    flex-grow: 1;
    padding: 4px 24px;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    background-color: var(--primary-bg-color);
}

.products-search .products-search-group button {
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--corporate-yellow-500);
    border-radius: var(--br-16);
    color: var(--corporate-dark-gray-500);
    padding: 4px 16px;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    font-weight: var(--fw-semi-bold);
    margin: 4px 4px 4px 0;
    transition: all 250ms ease-in-out;
}

.products-search .products-search-group button svg {
    margin-right: 6px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    flex-shrink: 0;
}

.products-search .products-search-group button svg path {
    stroke: var(--corporate-dark-gray-500);
}

.products-search .products-search-group button:hover {
    background: var(--corporate-yellow-600);
}

#products .products-content {
    padding-left: 0;
    padding-right: 0;
}

#products .product-card:hover {
    transform: scale(1.1);
}

/* ==============================
        Avto service
============================== */

.accardion {
    max-width: 896px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.accardion-item:not(:last-child) {
    margin-bottom: 20px;
}

.accardion-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--dark-gray);
    border-radius: var(--br-20);
}

.accardion-item-header>span {
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    font-weight: var(--fw-bold);
    padding: 4px 24px;
    flex-grow: 1;
}

.accardion-item-header>button {
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--corporate-yellow-500);
    border-radius: var(--br-16);
    color: var(--corporate-dark-gray-500);
    padding: 4px 16px;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    font-weight: var(--fw-bold);
    margin: 4px 4px 4px 0;
    transition: all 250ms ease-in-out;
}

.accardion-item-header>button svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.accardion-item-header>button svg path {
    stroke: var(--corporate-dark-gray-500);
}

.accardion-item-header>button span {
    margin-left: 4px;
}

.accardion-item-header>button:hover {
    background: var(--corporate-yellow-600);
}

.accardion-item-body-content {
    padding: 24px;
    border: 1px solid var(--dark-gray);
    border-radius: var(--br-20);
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
}

.accardion-item-body {
    display: none;
    padding-top: 12px;
}

.accardion-item-body.show {
    display: block;
}

/* ==============================
        Product single
============================== */

.productGallerySwiper {
    padding-bottom: 32px;
}

.productGallerySwiper .swiper-button-prev {
    left: 12px;
    margin-top: -38px;
}

.productGallerySwiper .swiper-button-next {
    right: 12px;
    margin-top: -38px;
}

.productGallerySwiper .swiper-button-prev:after, .productGallerySwiper .swiper-button-next:after {
    font-size: 24px;
    font-weight: var(--fw-semi-bold);
}

.product-gallery {
    width: 100%;
}

.product-gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    border-radius: var(--br-16);
    height: 420px;
    overflow: hidden;
    outline: none;
}

.product-gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-text {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 32px;
}

.product-text-header .product-name {
    display: block;
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    font-weight: var(--fw-bold);
    margin-bottom: 32px;
}

.product-text-header .price-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.product-text-header .price-share .price {
    position: relative;
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-weight: var(--fw-bold);
    padding-bottom: 6px;
}

.product-text-header .price-share .price:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--corporate-yellow-500);
    border-radius: var(--br-2);
}

.product-text-body {
    flex-grow: 1;
}

.product-text-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.product-text-footer>*:not(:last-child) {
    margin-right: 24px;
}

.view-count {
    display: flex;
    align-items: center;
    color: var(--dark-gray);
    font-weight: var(--fw-medium);
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
}

.view-count span {
    margin-left: 6px;
}

.view-count svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.view-count svg path {
    stroke: var(--dark-gray);
}

.share {
    position: relative;
    display: flex;
}

.share button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    font-weight: var(--fw-bold);
    padding: 6px 18px;
    border-radius: var(--br-20);
    color: var(--corporate-dark-gray-500);
    border: 1px solid var(--corporate-dark-gray-500);
    background: var(--white);
    transition: all 250ms ease-in-out;
}

.share button svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    flex-shrink: 0;
}

.share button svg path {
    transition: all 250ms ease-in-out;
    stroke: var(--corporate-dark-gray-500);
}

.share>div {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 16px;
    margin-top: 24px;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
}

.share .share-dropdown {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 12px;
    border-radius: var(--br-8);
    box-shadow: var(--box-shadow-lg);
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    transition: all 250ms ease-in-out;
}

.share .share-dropdown>* {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-4);
    color: var(--corporate-dark-gray-500);
    background-color: var(--corporate-yellow-500);
    margin: 4px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.share .share-dropdown>* svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.share .share-dropdown>a svg path {
    fill: var(--corporate-dark-gray-500);
    transition: all 250ms ease-in-out;
}

.share .share-dropdown>span svg path {
    stroke: var(--corporate-dark-gray-500);
    transition: all 250ms ease-in-out;
}

.share .share-dropdown>*:hover {
    background-color: var(--corporate-dark-gray-500);
    color: var(--white);
}

.share .share-dropdown>a:hover svg path {
    fill: var(--white);
}

.share .share-dropdown>span:hover svg path {
    stroke: var(--white);
}

.share .share-dropdown .copy-to-clipboard span {
    position: absolute;
    top: 100%;
    margin-top: 8px;
    padding: 3px 12px;
    left: 50%;
    background-color: var(--corporate-dark-gray-500);
    color: white;
    font-size: var(--fs-b1);
    line-height: var(--lh-b1);
    border-radius: var(--br-4);
    transform: translateX(-50%);
    display: none;
}

.share .share-dropdown .copy-to-clipboard span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    background: var(--corporate-dark-gray-500);
    transform: translate(-50%, -50%) rotate(45deg);
    border-top-left-radius: var(--br-2);
}

.share .share-dropdown:before {
    content: "";
    position: absolute;
    top: 16px;
    right: 32px;
    width: 16px;
    height: 16px;
    background: var(--white);
    transform: translateY(-50%) rotate(45deg);
    border-top: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-top-left-radius: var(--br-2);
}

.share:hover button {
    background-color: var(--corporate-dark-gray-500);
    color: var(--white);
}

.share:hover button svg path {
    stroke: var(--white);
}

.share:hover>div {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

/* ==============================
        Not Found
============================== */

.not-found {
    display: flex;
}

.not-found .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.not-found-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 760px;
    margin: 0 auto;
}

.not-found-content span {
    font-size: 160px;
    line-height: 1;
    font-weight: var(--fw-bold);
}

.not-found-content p {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    margin-bottom: 36px;
}


/* ==============================
        Brands
============================== */
.brands-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.brands-wrapper .brand-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 75px;
    border: 1px solid var(--dark-gray);
    border-radius: 20px;
    padding: 12px;
    transition: all 250ms ease-in-out;
}

.brands-wrapper .brand-item:not(:last-child) {
    margin-right: 12px;
}

.brands-wrapper .brand-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.brands-wrapper .brand-item:hover, .brands-wrapper .brand-item.active {
    border-color: var(--corporate-yellow-500);
    background-color: var(--corporate-yellow-500);
}


/* ==============================
        Services form
============================== */
.bg-dark-gray {
    color: var(--white);
    background-color: var(--corporate-dark-gray-500);
}

.bg-dark-gray .inner-section-header {
    color: var(--white);
}

.services-search-info {
    max-width: 612px;
}

.services-search-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-general-item {
    display: flex;
    flex-direction: column;
}

.form-general-item:not(:last-of-type) {
    margin-bottom: 32px;
}

.form-general-label {
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    margin-bottom: 10px;
    color: var(--dark-gray);
}

.form-general-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-general-select-header, .form-general-control {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 8px;
    padding: 14px 24px;
    color: var(--corporate-dark-gray-500);
    background: var(--dark-gray);
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    cursor: not-allowed;
    user-select: none;
    border: none;
    outline: none;
}

.form-general-radio {
    display: flex;
    cursor: pointer;
}

.form-general-radio:not(:last-child) {
    margin-bottom: 8px;
}

.form-general-radio input {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.form-general-radio label {
    flex-grow: 1;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    padding-left: 8px;
    cursor: pointer;
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
    position: relative;
    background-color: var(--dark-gray);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid var(--white);
    cursor: pointer;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: 0;
    left: 0;
    position: relative;
    background-color: var(--corporate-yellow-500);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid var(--white);
    cursor: pointer;
}

.form-general-date-header {
    display: flex;
    position: relative;
}

.form-general-date-header .btn-toggle-calendar {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.form-general-date-header .btn-toggle-calendar svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: all 250ms ease-in-out;
}

.form-general-date-header .btn-toggle-calendar svg path {
    stroke: var(--corporate-dark-gray-500);
}

.form-general-select-header svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: all 250ms ease-in-out;
}

.form-general-select-header svg path {
    stroke: var(--corporate-dark-gray-500);
}

.form-general-select.collapsed .form-general-select-header svg {
    transform: rotate(180deg);
}

.form-general-select-body {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    border-radius: 8px;
    overflow: hidden;
    background: var(--white);
    color: var(--corporate-dark-gray-500);
    box-shadow: var(--box-shadow-xl);
    z-index: 2;
    margin-top: 8px;
    display: none;
}

.form-general-option-group {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow: auto;
}

.form-general-option {
    padding: 14px 24px;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.form-general-option:hover, .form-general-option.selected {
    background: var(--light-gray);
}

.form-general-item.active .form-general-label {
    color: var(--white);
}

.form-general-item.active .form-general-select-header, .form-general-item.active .form-general-control {
    cursor: pointer;
    background: var(--white);
    color: var(--dark-gray);
}

.form-general-item.active .form-general-select-header.selected {
    color: var(--corporate-dark-gray-500);
}

.form-general-btns .btn-general {
    flex: 1;
    margin: 0;
}

.form-general-btns #clearCustomsForm:hover {
    color: var(--corporate-dark-gray-500);
    background-color: var(--light-gray);
}

.form-general .btn-submit {
    opacity: 0.5;
    cursor: not-allowed;
    margin-top: 48px;
    height: 52px;
    width: 100%;
}

.form-general.completed .btn-submit {
    opacity: 1;
    cursor: pointer;
}

/* Search */

.marked-search {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-gray);
    border-radius: 20px;
    padding: 10px 16px;
    height: 40px;
    max-width: 640px;
    width: 100%;
    margin: 32px auto 0;
    background-color: var(--primary-bg-color);
}

.marked-search button {
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}

.marked-search button svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.marked-search button svg path {
    stroke: var(--corporate-dark-gray-500);
}

.marked-search button.search-loupe {
    margin-right: 8px;
    cursor: default;
}

.marked-search button.clear-filter {
    margin-left: 8px;
    display: none;
}

.marked-search.active button.clear-filter {
    display: flex;
}

.marked-search-input {
    border: none;
    outline: none;
    box-shadow: none;
    flex-grow: 1;
    padding: 0;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    background-color: var(--primary-bg-color);
}

mark {
    padding: 0;
    background: var(--corporate-yellow-500);
    color: var(--corporate-dark-gray-500);
    -webkit-text-fill-color: var(--corporate-dark-gray-500);
}

.services-result-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-result-wrapper::after {
    content: "";
    flex: auto;
}

.services-result-item {
    border-radius: 6px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    width: calc(50% - 16px);
    box-shadow: var(--box-shadow-lg);
    margin: 0 8px 16px;
}

.services-result-item .service-name {
    text-transform: uppercase;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
    font-weight: var(--fw-semi-bold);
    letter-spacing: 0.05em;
}

.services-result-item .service-price {
    font-weight: bold;
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    color: var(--corporate-dark-gray-500);
    margin-left: 12px;
    flex-shrink: 0;
}

.empty-result-message {
    text-align: center;
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
}

/* ==============================
            Fine
============================== */
.fine-content .content {
    margin-top: 78px;
}

.payment-portal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.payment-portal-wrapper .payment-portal-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-12);
    flex: 1;
    max-width: 300px;
    height: 150px;
    overflow: hidden;
    padding: 24px;
    box-shadow: var(--box-shadow-sm);
    border: 1px solid var(--light-gray);
    transition: all 250ms ease-in-out;
}

.payment-portal-wrapper .payment-portal-item:hover {
    box-shadow: var(--box-shadow-xl);
}

.payment-portal-wrapper .payment-portal-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ==============================
            Customs
============================== */
.customs-content .content {
    margin-top: 78px;
}

.customs-content .inner-section-header {
    margin-bottom: 32px;
}

.customs-box {
    padding: 32px;
    box-shadow: var(--box-shadow-xl);
    border-radius: var(--br-12);
}

.customs-result-list {
    display: flex;
    flex-direction: column;
}

.customs-result-list li {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    font-weight: var(--fw-semi-bold);
    padding: 12px 0;
}

.customs-result-list li:not(:last-child) {
    border-bottom: 1px solid var(--white);
}

.customs-result-list li>div:last-child {
    flex-shrink: 0;
    margin-left: 12px;
}

.customs-form .form-general-item {
    margin-bottom: 24px;
}

.customs-form .form-general-label {
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
}

.customs-form .form-general-date-header .btn-toggle-calendar {
    right: 20px;
}

.customs-form.form-general .btn-submit {
    margin-top: 0;
    height: 44px;
    width: auto;
}

.customs-form .form-general-select-header, .customs-form .form-general-control, .customs-form .form-general-option {
    padding: 10px 20px;
}

.customs-form .form-general-item.active .form-general-select-header, .customs-form .form-general-item.active .form-general-control, .customs-form .form-general-item.active .form-general-control::placeholder {
    color: var(--corporate-dark-gray-500);
}

.customs-form.empty #clearCustomsForm {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Flat picker */
.flatpickr-day.selected, .flatpickr-day.selected:hover {
    background: var(--corporate-dark-gray-500);
    color: var(--white);
    border-color: var(--corporate-dark-gray-500);
}
